.back.light{
  background-color: rgba(255, 255, 255, 0.74);
}
.back.dark{
  background-color: rgba(97, 97, 97, 0.356);
}
.menu.light{
  background-color: rgb(255, 230, 253);
  position: fixed;
  width: 100%;
}
.menu.dark{
  background-color: rgb(61, 56, 61);
  position: fixed;
  width: 100%;
}
.logo.light{
  color: rgb(128, 0, 111);
  font-size: 25px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo.dark{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.span{
  color: rgb(224, 82, 200);
}
.item.light{
  margin:  0px 20px 0px 20px;
  color: rgb(119, 74, 113);
  font-size: 20px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.item.dark{
  color: rgb(255, 203, 244);
  margin:  0px 20px 0px 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.item.light:hover{
 text-decoration: underline rgb(128, 0, 117);
 color: rgb(78, 44, 72);
 cursor: pointer;
}
.item.dark:hover{
  text-decoration: underline rgb(128, 0, 96);
  color: rgb(255, 255, 255);
  cursor: pointer;
 }
.sun{
  color: rgb(255, 255, 0);
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
}
.moon{
  color: rgb(255, 255, 126);
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
}
.par{
  font-size: 25px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(180, 0, 156) ;
}
.par2{
  font-size: 25px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 113, 231) ;
}
.ser{
  font-size: 25px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
}
.offer{
  font-size: 25px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.icon{
  width: 60px;
  height: 60px;
  color: rgb(180, 0, 150);
}
.backfooter{
  background-color: rgb(255, 230, 253);
}